<header class="header">
  <a class="header-components" href="#">Menu</a>
  <a class="header-components" href="#">Profile</a>
  <a class="header-components" href="#">Contact</a>
  <a class="header-components" href="#" (click)="toggleLoginState()">{{ isLoggedIn ? 'Log out' : 'Login' }}</a>

  
  <input class="search-bar" type="text" placeholder="Search">

 </header>

 <div class="nav-bar">
  <a class="header-components" href="#">Menu</a>
  <a class="header-components" href="#">Profile</a>
  <a class="header-components" href="#">Contact</a>
  
 </div>

